*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #E6E6FA; /* Kolor lawendowy */
  
}
.startScreen{
    width: 600px;
    background-color: rgba(247, 144, 144, 1);
    background-image: radial-gradient(circle, rgba(247, 144, 144, 1) 0%, rgba(59, 41, 86, 1) 100%);
    color: black;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.hidden{
  display: none;
}
.circlesLevel1{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: solid 1px black;
  background-color: white;
  position: absolute;
}
.clickerImage{
  width: 400px;
  margin-top: 20px;
}
.buttonStartGame, .level2Button, .level3Button{
  margin: 40px;
  margin-bottom: 0px;
  width: 150px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  border: black 1px solid;
  border-radius: 5px;
  font-size: 15px;
}
.buttonStartGame:hover, .level2Button:hover, .level3Button:hover{
  background: rgba(30, 255, 0, 0.2);
  font-weight: bold;
  color: white;
  border: white 1px solid;
  transition: 0.3s;
}
.endScreen{
  width: 600px;
    background-color: rgba(247, 144, 144, 1);
    background-image: radial-gradient(circle, rgba(247, 144, 144, 1) 0%, rgba(59, 41, 86, 1) 100%);
    color: black;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.descriptionText{
  margin-top: 20px;
  margin-bottom: 15px;
}
.endText{
  font-size: 25px;
  margin-bottom: 20px;
}
.playAgainButton{
  margin: 40px;
  margin-bottom: 0px;
  width: 150px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  border: black 1px solid;
  border-radius: 5px;
  font-size: 15px;
}
.playAgainButton:hover{
  background: rgba(255, 0, 0, 0.2);
  font-weight: bold;
  color: white;
  border: white 1px solid;
  transition: 0.3s;
}
.scoreNumber {
  font-weight: 700;
}
.circlesLevel2{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 1px black;
  background-color: white;
  position: absolute;
}
.circlesLevel3{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: solid 1px black;
  background-color: white;
  position: absolute;
}